h1 {
  font-size: large;
  font-weight: bold;
  background-color: black;
  color: white;
}

p {
  text-align: center;
  font-style: italic;
  background-color: royalblue;
  color: white;
}

h2 {
  font-size: medium;
  background-color: rosybrown;
  color: white;
  text-align: center;
}
