.lorem {
    position: relative;
    animation-name: mim;
    animation-duration : 2s;
    animation-timing-function: ease-out;
}
@keyframes mim {
    0% {
        left : 100%;
        width: 200%;
    }
    100% {
        left : 0px;
        width: 100%;
    }
}