<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>메인 페이지</title>
  </head>
  <body>
    <input type="userId" placeholder="로그인" /> <br />
    <input type="password" placeholder="비밀번호" /><br />
    <button>로그인</button>
    <a href="/resister">회원가입</a>
  </body>
</html>
