<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>메인 페이지</title>
  </head>
  <body>
    <input type="text" placeholder="사용할 ID" /> <br />
    <input type="text" placeholder="사용할 PW" /><br />
    <input type="text" placeholder="주소" /><br />
    <input type="text" placeholder="이름" /><br />
    <button>회원가입</button>
    <a href="/login">로그인</a>
  </body>
</html>
