<!DOCTYPE html>
<html lang="ko">
  <%- include('include/include', { title: '실습 | 회원가입/로그인 구현' })%>
  <body class="blue">
    <div class="home">
      <h1>Vamos_Hyuk에 오신걸 환영합니다.</h1>
      <!-- TODO: href 속성값 설정하기 -->
      <a class="btn" href="/user/signup">회원가입</a>
      <a class="btn" href="/user/signin">로그인</a>
      <p>©Copyright 2023</p>
    </div>
  </body>
</html>
